$familjen-blue: #1d82c0;
$familjen-yellow: #fdda3d;
$familjen-purple: #492c7f;
$familjen-grey: #494b52;
$familjen-orange: #e56526;
$familjen-pink: #dc1679;
$familjen-turquoise: #2699ad;

$color-theme: (
    blue: (
        primary: $familjen-blue,
        accent: $familjen-orange
    ),
    yellow: (
        primary: $familjen-yellow,
        accent: $familjen-orange
    ),
    purple: (
        primary: $familjen-purple,
        accent: $familjen-orange
    ),
    grey: (
        primary: $familjen-grey,
        accent: $familjen-orange
    ),
    orange: (
        primary: $familjen-orange,
        accent: $familjen-turquoise
    ),
    pink: (
        primary: $familjen-pink,
        accent: $familjen-blue
    ),
    turquoise: (
        primary: $familjen-turquoise,
        accent: $familjen-orange
    )
);

$ccolors: (
    blue #1d82c0,
    yellow #fdda3d,
    purple #492c7f,
    grey #494b52,
    orange #e56526,
    pink #dc1679,
    turquoise #2699ad
);

$complement-colors: (
    #e56526,
    #93959a,
    #93959a,
    #93959a,
    #93959a,
    #93959a,
    #93959a
);

//Grey colors
$grey: #e1e1e0;
$lightgrey: #93959a;
$darkgrey: #494b52;

//Let's be nice to the americans
$gray: $grey;
$lightgray: $lightgrey;
$darkgray: $darkgrey;

$content-border: rgba(black, 0.1);
$background-border: grey;
