$element-space: $content-gutter * 2; //30px
$element-space-large: $element-space * 2; //60px
$element-space-small: $element-space / 2; //15px

$section-space: $element-space * 3; //90px



$content-spacing: 1.5rem;
$content-spacing-large: 2.25rem;
$content-spacing-small: 0.5rem;


