$element-space: 45px;
$element-space-large: 60px + 45px;
$element-space-small: 15px;

$section-space: $element-space-large;
$section-space-bottom: $section-space - $element-space;

$content-spacing: 1.5em;
$content-spacing-large: 2.25em;
$content-spacing-small: 0.5em;


