.main-footer {
    position: relative;
    background-color: $gray-dark;
    padding-bottom: 80px;
    padding-top: 0;

    &:after {
        content: "";
        height: 40px;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url($pattern);
        background-size: 770px auto;
        background-position: top center;
    }
}
