.c-archive-filter--left {
    margin-bottom: 45px;
}


.c-archive-filter {
    position: relative;

    .c-archive-filter__loader {
        cursor: not-allowed;
        background: rgba(white, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        align-items: center;
        justify-content: center;
    }

    &.is-disabled .c-archive-filter__loader {
        display: flex;
    }
}

.c-filter {
    .c-filter__heading + .c-filter__options {
        margin-top: 5px;
    }

    .c-filter__title:before {
        content: '';
        width: $content-gutter * 2;
        height: $content-gutter * 2;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: $content-gutter;
    }


}


.c-filter.c-filter--infrastructure .c-filter__title:before {
    @extend %o-icon-transport;
}
.c-filter.c-filter--nature .c-filter__title:before {
    @extend %o-icon-landscape;
}
.c-filter.c-filter--community .c-filter__title:before {
    @extend %o-icon-cityscape;
}
.c-filter.c-filter--facility .c-filter__title:before{
    @extend %o-icon-shopping-bag;
}




