.customer-feedback-container {
    display: none;
    background: #fff;
    border: none;
    padding: $box-spacing-vertical;

    &:target {
        display: block;
    }

    p.text-sm, .customer-feedback-answers, .form-group {
        padding: 0  $box-spacing-vertical;
    }

    .form-group p {
        padding: 0;
    }

    .form-group p + * {
        margin-top: $content-gutter;
    }

    .notice {
        margin-top: $box-spacing-vertical / 2;
    }

    i.pricon-question-o {
        margin-right: $content-gutter / 2;
    }
}
