@each $color, $value in $color-theme {
    //Colors
    $primary: map-get($value, primary);
    $accent: map-get($value, accent);

    //Color scope styles
    &.s-custom-color-#{$color} {
        .box .box-title, .box-index-title.link-item, .box .box-content h5.link-item {
            color: $primary;
            border-color: $primary;
        }

        #main-content .box.box-panel {
            .box-title, .box-title.link-item, h5, h4 {
                color: white;
                background-color: $primary;
            }

            &.box-panel-secondary .box-title {
                color: $primary;
            }
        }
    }
}



