@each $color, $value in $color-theme {
    //Colors
    $primary: map-get($value, primary);
    $accent: map-get($value, accent);

    //Color scope styles
    &.s-custom-color-#{$color} {
        .breadcrumbs a {
            color: $primary;

            &:hover {
                text-decoration: none;
                color: darken($accent, 5%);
            }
        }

        li:last-of-type span {
            font-weight: 600;
            color: $primary;
        }
    }
}
