@each $color, $value in $color-theme {
    //Colors
    $primary: map-get($value, primary);
    $accent: map-get($value, accent);

    //Color scope styles
    &.s-custom-color-#{$color} {
        .btn-primary:not(.btn-outline) {
            background-color: $primary;
            border-color: $primary;
            &:hover,
            &:focus {
                color: #fff;
                background-color: darken($primary, 7%);
                border-color: darken($primary, 7%);
            }

            i {
                color: #fff;
            }
        }

        .btn-primary.btn-outline {
            border-color: $primary;
            color: $primary;

            &:hover,
            &:focus {
                color: #fff;
                background-color: $primary;
            }

            i {
                color: #fff;
            }
        }
    }
}

