@each $color, $value in $color-theme {
    //Colors
    $primary: map-get($value, primary);
    $accent: map-get($value, accent);

    //Color scope styles
    &.s-custom-color-#{$color} {


        .c-header.c-header--top {
            background-color: $primary;
        }

        .c-header.c-header--top .c-navbar {
            background-color: darken($primary, 5%);
        }

        .c-header.c-header--bottom {
            background-color: $primary;
        }

        .c-header .c-header__logo svg {
            path {
                fill: $primary !important;
            }
        }

        .nav-mobile {
            background: $accent;
        }

        .nav-mobile-menu .search {
            background: darken($accent, 10%);
        }

        .nav-mobile .current, .nav-mobile .current-node, .nav-mobile .current-menu-item, .nav-mobile a:hover {
            background-color: $primary;
        }
    }
}
