.box {
    font-size: $font-size-body;
}

.box-image {
    display: block;
}

#main-content,
.c-main,
#main {
    //Reset background, borders, box-shadow from element-level/child items
    .box, .box-panel, .box-panel-secondary {
        & > .box-content, .box-content, & > *, & > ul.nav {
            background-image: initial;
            background-color: initial;
            box-shadow: initial !important;
            border: initial;
            border-radius: initial !important;
        }
    }
    //Reset image within box
    .box .box-image-container img {
        display: block;
    }

    .box.box-card.has-image[itemtype*="Person"] img.box-image {
        border-radius: 100% !important;
    }

    //reset box title
    .box-index-title.link-item {
        padding-bottom: 0;
        padding-right: initial;
        margin-bottom: $content-gutter * 0.75;
    }
}

.box:not(.box-panel) {
    h4.box-title + .nav {
        margin-top: -25px;
    }
}
