
.c-header.c-header--primary {
    .c-header__logo svg,
    .c-header__logo img {

        max-width: 120px;

        @media all and #{$screen-sm-up} {
            max-width: 160px;
        }

        @media all and #{$screen-md-up} {
            max-width: 220px;
        }

    }
}
