/* ==========================================================================
   Overrides
   ========================================================================== */

/* ==========================================================================
   New styles
   ========================================================================= */

html {
    font-size: 100%;
}

body {
    font-size: 1.125rem; //18px
    line-height: 1.7;
    font-family: $primary-stack;
}


