/* ==========================================================================
   Overrides
   ========================================================================== */

/* ==========================================================================
   New styles
   ========================================================================= */

html {
    font-size: 100%;
}

//Body
& {
    font-size: 1rem; //16px
    line-height: 1.6;
    font-family: $primary-stack;
    color: rgba(black, 0.8);
}


