[data-tooltip] {
    &::before,
    &::after {
        display: block;
        opacity: 0;
        transition: 100ms all ease-in-out;
    }

    &::after {
        transform: translateY(calc(100% + 10px)) translateX(-50%);
    }

    &::before {
        transform: translateY(calc(0% + 10px)) translateX(-50%);
    }
}

[data-tooltip]:hover,
[data-tooltip]:focus,
:focus > [data-tooltip] {
    &::before,
    &::after {
        opacity: 1;
    }

    &::after {
        transform: translateY(calc(100% + 0)) translateX(-50%);
    }

    &::before {
        transform: translateY(calc(0% + 0)) translateX(-50%);
    }
}
