.nav.nav-help.nav-accessibility.nav-horizontal {
    margin-top: $content-spacing-small;
    margin-bottom: $content-spacing-large;
    font-size: $font-size-fixed-small;
}

.nav-accessibility a {

    font-family: $primary-stack;
    @include antialias();
    color: inherit;
    font-size: inherit;

    &:before, i {
        font-weight: 400;
    }
}

.nav-accessibility a:before, .nav-accessibility a i {
    margin-right: $content-gutter/4;
}




