.c-header {
    overflow-x: hidden;

    a {
        font-size: 16px;
    }

    &.c-header--top {
        overflow-x: scroll;

        ::-webkit-scrollbar {
            display: none;
        }

        a {
            font-size: 14px;
            font-weight: bold;
            @include antialias();

        }
        .c-navbar {
            margin-top: -11.25px;
            margin-bottom: -11.25px;
        }

        .c-navbar .c-navbar__item a {
            padding: 10px 15px;
        }
    }

    &.c-header--bottom a {
        font-weight: bold;
        font-size: 19px;
        @include antialias();

        &:hover, &:focus, &:active {
            background: rgba(black, 0.03);
            text-decoration: none;
        }
    }
}

.c-navbar .c-navbar__item.is-current:after, .c-navbar .c-navbar__item.is-current-ancestor:not(.c-navbar__sub):after {
    border-bottom-color: #f9f9f9;
}
