
.site-header {
    position: relative;
}

.c-header {
    background: white;
    a {
        font-size: 16px;
    }

    &.c-header--bottom,
    &.c-header--top {
        .c-navbar__action,
        a {
            color: white;
            opacity: 0.95;

            &:hover {
                color: white;
                opacity: 1;
            }
        }
    }

    &.c-header--top {
        @media screen and #{$screen-below-sm} {
            overflow-x: scroll;
        }

        a {
            font-size: 14px;
            font-weight: bold;
            @include antialias();

        }

        .c-navbar__action {
            padding: 4px 12px;
        }
    }

    &.c-header--bottom .c-navbar__action {
        font-weight: bold;
        font-size: 19px;
        @include antialias();

        &:hover, &:focus, &:active {
            background: rgba(black, 0.03);
            text-decoration: none;
        }
    }
}

.site-header .logotype img, .site-header .logotype svg {
    max-width: 128px;
    @media screen and #{$screen-md-up} {
        max-width: 200px;
    }
}

.c-navbar .c-navbar__item.is-current:after, .c-navbar .c-navbar__item.is-current-ancestor:not(.c-navbar__sub):after {
    border-bottom-color: #f9f9f9;
}


.hamburger span.hamburger-box {
    top: 0px;
}

li.current-menu-item > a, .is-child-theme ul.sub-menu li > a {
        text-indent: 0px;
}
