ul.nav-aside {
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.08);
    border: solid 1px $border-color;
    border-radius: 2px;

    li {
        border-color: $border-color;
    }
}

.nav-aside .sub-menu, .nav-aside .children, .nav-mobile .sub-menu, .nav-mobile .children {
    border-color: $border-color;
}

.nav-aside [data-load-submenu] {
    outline: 1px solid $border-color;
}

.box ul.nav-aside {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

ul.nav-aside li a {
    padding: $box-padding * 1.5 $box-spacing-horizontal $box-padding * 1.5 $box-spacing-horizontal;
    color: $base-font-color;
    background-color: white;
    font-size: ms(0);
    @include antialias();

    &:hover {
        background: lighten(black, 96%);
    }
}

.nav-aside [data-load-submenu] {
    height: 30px;
    width: 30px;
    line-height: 0;
}

.nav-aside .sub-menu, .nav-aside .children, .nav-mobile .sub-menu, .nav-mobile .children {
    border-left: 0;
}

ul.nav-aside li.current-menu-item > a {
    //display: none;
    //font-weight: bold;
}

ul.sub-menu {
    padding-left: 15px;
    background: transparentize(lighten(black, 90%), .66);
}

li.current-menu-item > a,
ul.sub-menu li > a {
    text-indent: -10px;
}

.nav-aside .sub-menu .current > a::before, .nav-aside .sub-menu .current-menu-item > a::before, .nav-mobile .sub-menu .current > a::before, .nav-mobile .sub-menu .current-menu-item > a::before {
    position: initial;
    top: initial;
    left: initial;
    bottom: initial;
    width: initial;
    display: initial;
    background-color: initial;
    color: inherit;
}

ul.sub-menu a:before, ul.nav-aside li.current-menu-item > a:before {
    content: '- ';
}

 .nav-aside .current-menu-item > [data-load-submenu] {
    outline: 0;
    background-color: rgba(black, .1);
    .icon:after {
        color: white;
    }
 }

.nav-aside .current-menu-item.is-expanded > [data-load-submenu] {
    background-color: rgba(white, .2);
}
