.btn-stack {
    display: flex;

    flex-wrap: wrap;

    > .btn {
        margin: 0;
        border-radius: 0;
        width: 100%;
    }

    > .btn + .btn {
        margin-top: 1px;
    }
}

.btn.pricon:before {
    margin-right: 15px;
}

.btn-group {
    display: flex;
    width: 100%;
    flex-wrap: no-wrap;


    > .btn {
        margin: 0;
        border-radius: 0;
        flex-grow: 1;
    }

    > .btn + .btn {
        margin-left: 1px;
    }
}

















