.box.box-news {
    padding: 5px;
    background-color: $gray-lightest;
    color: $base-font-color;
}

.box-news:not(.box-news-horizontal) .box-title,
.box-news:not(.box-news-horizontal) h1,
.box-news:not(.box-news-horizontal) h2,
.box-news:not(.box-news-horizontal) h3,
.box-news:not(.box-news-horizontal) h4,
.box-news:not(.box-news-horizontal) h5,
.box-news:not(.box-news-horizontal) h6 {
    color: $base-font-color;
    font-weight: bold;
}

.box.box-news.box-news-horizontal {
    h1, h2, h3, h4, h5, h6 {
        color: $base-font-color;
    }

    @media #{$screen-md-up} {
        .box-content {
            padding: 15px 30px;
        }
    }
}
