.box {
    margin-bottom: $element-space;

    &, p, .box-content {
        font-size: $font-size-body;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: ms(1);
    }

    .box-content {
        // > * + * {
        //     margin-top: $content-spacing;
        // }
        > .box-title + * {
            margin-top: $content-spacing-small;
        }
    }
}

#main-content,
#main,
.c-main
#main.c-main {
    //Common styling
    .box {
        box-shadow: 0 2px 3px rgba(0,0,0,.08);
        border: solid 1px $border-color;
        background: white;
        border-radius: 10px;
        overflow: hidden;

        .box-content {
            padding: $content-gutter*1.5 $content-gutter*2;
        }
    }

    .box-panel {
        .box-title {
            padding: $content-gutter*1.5 $content-gutter*2;
            padding-bottom: $content-gutter*1.5;
        }
    }

    .box-panel.box-panel-secondary {
        .box-title {
            border-bottom: solid 1px $border-color;
            padding-bottom: 15px;
        }
    }

    .box, .box-panel {
        & > ul.nav > li, & .table td {
            padding: $content-gutter*0.75 $content-gutter*2;
        }
    }
}

.main-footer .box {
    font-size: $font-size-small;
    line-height: 1.5;

    &, p, .box-content {
        font-size: $font-size-small;
    }

    h1, h2, h3, h4, h5, h6, .box-title {
        font-size: ms(1, 1em);
    }
}
.nav-aside li + li {
    border-top: solid 1px $border-color
}


.box-panel > ul:not(.social-feed-gallery):not(.accordion) li + li:not(.timeline-event), .sidebar-content-area [class^="widget_"]:not(.widget_calendar) > ul:not(.social-feed-gallery):not(.accordion) li + li:not(.timeline-event), .sidebar-content-area-bottom [class^="widget_"]:not(.widget_calendar) > ul:not(.social-feed-gallery):not(.accordion) li + li:not(.timeline-event) {
    border-color: $border-color;
}
